<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, tr, td, th {
            border: black solid 1px;
        }
        tr, .pageBtn{
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>게시판 연습 1</h1>
    <select id="searchKey">
        <option selected>전체</option>
        <option>제목</option>
        <option>내용</option>
    </select>
    <input type="text" placeholder="검색" id="searchVal">
    <button th:onclick="clickSearch()">검색</button>
    <div>
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성날짜</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${board1Map.board1List}" th:onclick="|location.href='@{/prac/boardDetail.do(id=${board.id})}'|">
                    <td th:text="${board.id}"></td>
                    <td th:text="${board.title}"></td>
                    <td th:text="${board.user_id}"></td>
                    <td th:text="${board.rdate}"></td>
                </tr>
            </tbody>
        </table>
        <div id="paging">
        <span th:if="${board1Map.pageMap.startPage > 5}" th:attr="onclick=|paging(${board1Map.pageMap.startPage - 5})|" th:text="'&lt;'" class="pageBtn"></span>
            <th:block th:each="num : ${#numbers.sequence(board1Map.pageMap.startPage, board1Map.pageMap.endPage)}">
                <span th:if="${num != board1Map.pageMap.curPage}" th:attr="onclick=|paging(${num})|" th:text="${num}" class="pageBtn"></span>
                <span th:if="${num == board1Map.pageMap.curPage}" th:text="${num}" style="color: blue"></span>
            </th:block>
            <span th:if="${board1Map.pageMap.endPage < board1Map.pageMap.maxPage}" th:attr="onclick=|paging(${board1Map.pageMap.startPage + 5})|" th:text="'&gt;'" class="pageBtn"></span>
        </div>
        <div style="margin-left: 200px;">
            <button th:onclick="|location.href='@{/prac/addBoard1.do}'|">작성</button>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let msg = "[[${msg}]]";
            if (msg !== '') {
                alert(msg)
            }
        })

        let saveSearchKey = "[[${searchKey}]]";
        let saveSearchVal = "[[${searchVal}]]";


        if (saveSearchKey !== '' && saveSearchKey !== undefined && saveSearchVal !== '' && saveSearchVal !== undefined) {
            document.getElementById('searchKey').value = saveSearchKey;
            document.getElementById('searchVal').value = saveSearchVal;
        }

        const paging = (page) => {
            let url = `/prac/board1.do?curPage=${page}`;
            if (saveSearchKey !== '' && saveSearchKey !== undefined && saveSearchVal !== '' && saveSearchVal !== undefined) {
                url += `&searchKey=${saveSearchKey}&searchVal=${saveSearchVal}`;
            }
            location.href = url;
        }

        const clickSearch = () => {
            let searchKey = document.getElementById("searchKey").value;
            let searchVal = document.getElementById("searchVal").value;

            location.href = `/prac/board1.do?searchKey=${searchKey}&searchVal=${searchVal}`;
        }
    </script>
</body>
</html>