<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, tr, td {
            border: black solid 1px;
        }
        .textTd {
            width: 200px;
            height: 30px;
        }
        table {
            text-align: center;
        }
        .contentArea{
            height: 200px;
        }
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<div>
    <form action="/prac/updateBoard1Pro.do" method="post">
        <table>
            <tr>
                <td>No</td>
                <td th:text="${boardDetail.id}" class="textTd"></td>
                <td class="hidden"><input th:value="${boardDetail.id}" name="id"></td>
            </tr>
            <tr>
                <td>작성자</td>
                <td th:text="${boardDetail.user_id}" class="textTd"></td>
            </tr>
            <tr>
                <td>조회수</td>
                <td th:text="${boardDetail.view_cnt}" class="textTd"></td>
            </tr>
            <tr>
                <td>작성날짜</td>
                <td th:text="${boardDetail.rdate}" class="textTd"></td>
            </tr>
            <tr>
                <td>제목</td>
                <td class="textTd"><label>
                    <input th:value="${boardDetail.title}" name="title">
                </label></td>
            </tr>
            <tr>
                <td>내용</td>
                <td class="contentArea"><label>
                    <textarea th:text="${boardDetail.content}" class="contentArea" name="content"></textarea>
                </label></td>
            </tr>
        </table>
        <div style="margin-left: 185px;">
            <button>저장</button>
            <button type="button" th:onclick="|location.href='@{/prac/boardDetail.do(id=${boardDetail.id})}'|">취소</button>
        </div>
    </form>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        let msg = "[[${msg}]]";
        if (msg !== '') {
            alert(msg)
        }
    })
</script>
</body>
</html>